/* We're using a custom-downloaded (but free) font, so we have to store and load it */
@font-face {
  font-family: CooperHewitt-Medium;
  src: url("./fonts/CooperHewitt-Medium.eot");
  src: url("./fonts/CooperHewitt-Medium.woff") format("woff"),
       url("./fonts/CooperHewitt-Medium.svg") format("svg");
}
@font-face {
  font-family: CooperHewitt-Semibold;
  src: url("./fonts/CooperHewitt-Semibold.eot");
  src: url("./fonts/CooperHewitt-Semibold.woff") format("woff"),
       url("./fonts/CooperHewitt-Semibold.svg") format("svg");
}
@font-face {
  font-family: CooperHewitt-Bold;
  src: url("./fonts/CooperHewitt-Bold.eot");
  src: url("./fonts/CooperHewitt-Bold.woff") format("woff"),
       url("./fonts/CooperHewitt-Bold.svg") format("svg");
}

/* I still kind of like the look of a side-nav bar, sorry everyone */
.sidenav {
  /*height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 150px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 154px; /* alternatively: 0; */
  left: 40px; /*alternatively: 0; */
  background-color: #ADDAC6; /* blue was #00b8e6 */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-left: 5px;
  font-family: "CooperHewitt-Medium", Roboto, Helvetica;
  color:#37383a;
  font-size: 110%;
}

.sidenav li {
  padding-left: 0;
}

.sidenav a {
  text-decoration: none;
  color: #37383a;
}

.sidenav a:visited {
  color: #37383a;
}

.sidenav a:hover {
  color: #FFF;
}

/* here's the specs for the main vertical */
.main {
  margin-left: 270px; /* To keep it clear of the sidebar */
  padding: 24px 10px 0px;
  width: 600px;
  color: #37383a;
  font-family: Roboto, Helvetica;
  font-size: 110%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {  
  font-family: "CooperHewitt-Bold", Interstate, Roboto, sans-serif;
  color: #414346;
}

h2 {
  font-family: "CooperHewitt-Bold", Interstate, Roboto, sans-serif;
  font-size: 150%;
}

h3 { 
  font-family: "CooperHewitt-Semibold", Interstate, Roboto, sans-serif;
}

p { 
  font-family: Roboto, sans-serif;
}

hr {
  display: block;
  height: 3px;
  margin-bottom: 60px;
  background-color: #ADDAC6;
  opacity: 0.9;
  border: 0 none;
}

.main a {
  color: #37383a;
  text-decoration: none;
  font-weight: bold;
}

.main a:hover {
  color: #ADDAC6;
  text-decoration: underline;
  font-weight: bold;
}

.publications p {
  margin-left: -15px;
}

.dog-photo img {
	width: 800px;
  max-width: 100%;
}

/* I put a little copyright symbol in the footer, so that I can have a footer */
.footer {
  margin-top: 120px;
  margin-left: 220px;
  font-family: Roboto;
  font-size: 12px;
}